.button {
    -fx-text-fill: white;
}

.font-size {
    -fx-font-size: 18px;
}

.text-fill-red {
    -fx-text-fill: red;
}

.text-fill-green {
    -fx-text-fill: #0c990c;
}

.right-side {
    -fx-background-color: #5465f8;
}

.hBox-right {
    -fx-max-width: 250;
    -fx-max-height: 150;
    -fx-background-color: white;
}

.add-radius {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.region {
    -fx-border-width: 0 0 4 4;
    -fx-background-color: transparent;
    -fx-border-color: black;
}

.white {
    -fx-border-color: white;
}

